/* src/components/Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
   
    margin-top: 50px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer-section p, .footer-section a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 10px 0;
  }
  
  .footer-section ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #ccc;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  